<div class="search-row">
    <mat-form-field>
        <mat-label>Ingredient</mat-label>
        <mat-select [ngModel]="ingredientSelection" (ngModelChange)="setIngredient($event)">
            <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                {{ingredient}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<button *ngIf="drinkId" mat-raised-button routerLink="/cocktail-details/{{drinkId}}">
    <mat-icon>arrow_back</mat-icon>
    Back
</button>
<div *ngIf="ingredient" class="ingredient-detail">
    <table>
        <tr>
            <td><b>Type</b></td>
            <td>{{ingredient.strType}}</td>
        </tr>
        <tr>
            <td><b>Alcoholic</b></td>
            <td>{{ingredient.strAlcohol}}</td>
        </tr>
        <tr>
            <td><b>ABV</b></td>
            <td>{{ingredient.strABV}}</td>
        </tr>
        <tr>
            <td><b>Description</b></td>
            <td [innerHtml]="ingredient.strDescription"></td>
        </tr>
    </table>
</div>