@import '../../style-variables.scss';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cocktails-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}