@import '../../style-variables.scss';

.search-row {
    display: flex;
    align-items: baseline;
    padding: 1px 5px;
    background-color: $background-color;
    flex-wrap: wrap;
}

.search-row > * {
    margin-right: 5px;
}

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cocktails-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: auto;
}