<div class="search-row">
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="nameFilter" (keydown)="queueRefetch()" (keyup.enter)="fetchCocktails()">
    </mat-form-field>
    <ng-container *ngFor="let searchFilterType of searchFilterTypes">
        <mat-form-field>
            <mat-label>{{searchFilterType}}</mat-label>
            <mat-select [ngModel]="searchFilters[searchFilterType].searchString"
                (ngModelChange)="setFilterByType(searchFilterType, $event)">
                <mat-option [value]="null"></mat-option>
                <mat-option *ngFor="let ingredient of searchFilters[searchFilterType].options" [value]="ingredient">
                    {{ingredient}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <button mat-raised-button (click)="fetchCocktails()">Search</button>
</div>
<div class="cocktails-display">
    <div *ngFor="let drink of filteredDrinks">
        <cocktails-cocktail-card [drink]="drink"></cocktails-cocktail-card>
    </div>
</div>