<div *ngIf="drink">
    <button mat-raised-button routerLink="/cocktail-search">
        <mat-icon>arrow_back</mat-icon>
        Back
    </button>
    <div class="main-info">
        <cocktails-cocktail-card [drink]="drink" [navigable]="false"></cocktails-cocktail-card>
        <div>
            <table>
                <tr>
                    <td><b>Category</b></td>
                    <td>{{drink.strCategory}}</td>
                </tr>
                <tr>
                    <td><b>Glass</b></td>
                    <td>{{drink.strGlass}}</td>
                </tr>
                <tr>
                    <td><b>Alcoholic</b></td>
                    <td>{{drink.strAlcoholic}}</td>
                </tr>
            </table>
            <h3>How to make it!</h3>
            <div>{{drink.strInstructions}}</div>
        </div>
    </div>
    <h3>Ingredients</h3>
    <ol>
        <li *ngFor="let drinkIngredient of drinkIngredients">
            <ng-container *ngIf="drinkIngredient.ingredient">
                <ng-container *ngIf="drinkIngredient.measure">
                    <span>{{drinkIngredient.measure}} of&nbsp;</span>
                </ng-container>
                <a *ngIf="drinkIngredient.includeLink" routerLink="/ingredient-search"
                    [queryParams]="{name: drinkIngredient.ingredient, drinkId: drink.idDrink}">{{drinkIngredient.ingredient}}</a>
                <span *ngIf="!drinkIngredient.includeLink">{{drinkIngredient.ingredient}}</span>
            </ng-container>
        </li>
    </ol>
    <ng-container *ngIf="tags.length > 0">
        <h3>Tags</h3>
        <ul>
            <li *ngFor="let tag of tags">
                <span>{{tag}}</span>
            </li>
        </ul>
    </ng-container>
</div>