img {
    max-width: 15vw;
}

a {
    text-decoration: none;
}

a > mat-card {
    margin: 10px;
}

a > mat-card:hover {
    background: lightgrey;
}

mat-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
