<a *ngIf="navigable && drink" routerLink="/cocktail-details/{{drink.idDrink}}" [attr.aria-label]="drink.strDrink">
    <ng-container *ngTemplateOutlet="cardTemplate"></ng-container>
</a>
<ng-container *ngIf="!navigable">
    <ng-container *ngTemplateOutlet="cardTemplate"></ng-container>
</ng-container>

<ng-template #cardTemplate>
    <mat-card tabindex="0" *ngIf="drink">
        <div class="grid">
            <img [src]="drink.strDrinkThumb" />
            <div>
                <span><b>{{drink.strDrink}}</b></span>
                <span>{{drink.strCategory}}</span>
                <span>{{drink.strAlcoholic}}</span>
                <span>{{drink.strGlass}}</span>
            </div>
        </div>
    </mat-card>
</ng-template>